/node_modules
/.next
/dist
/build
/out
/test
/test-results
/test-results.xml
/test-results.xml.gz
/test-results.xml.gz.br
/test-results.xml.gz.br.br
/test-results.xml.gz.br.br.br
/test-results.xml.gz.br.br.br.br

/.next